<div class="container" id="zup-app-div-aproduct">
    <div ng-app="myApp" ng-controller="HttpCtrl">

        <form novalidate>
            Register a product:
            <br>
            Name:
            <br>
            <input type="text" size="80" ng-model="prod.name"><br>
            Description:
            <br>
            <input type="text" size="80" ng-model="prod.description"><br>
            Price:
            <br>
            <input type="text" size="80" ng-model="prod.price"><br>
            Category:
            <br>
            <input type="text" size="80" ng-model="prod.category"><br>
            <br>
            <button ng-click="addProduct()">Create</button>
            <br>
            {{message}}
        </form>
    </div>
</div>
