<div class="container" id="zup-app-div-gproduct">
    <div ng-app="myApp" ng-controller="HttpCtrl">

        <form novalidate>
            Find a product by id:
            <br>
            <input type="text" ng-model="product_id">
            <br>
            <button ng-show="product_id" ng-click="getProduct(product_id)">Get product {{ product_id }}</button>
            <br>
            <br>
            Name:
            <br>
            <input type="text" size="80" ng-model="prod.name"><br>
            Description:
            <br>
            <input type="text" size="80" ng-model="prod.description"><br>
            Price:
            <br>
            <input type="text" size="80" ng-model="prod.price"><br>
            Category:
            <br>
            <input type="text" size="80" ng-model="prod.category"><br>
            <br>
            <button ng-show="product_id" ng-click="updateProduct(product_id)">Update</button><button ng-show="product_id" ng-click="deleteProduct(product_id)">Delete</button>
            <br>
            {{message}}
        </form>
    </div>
</div>
