<div class="container" id="zup-app-div-gproducts">
    <div class="table-responsive" ng-app="myApp" ng-controller="ProductsCtrl">
        <table class="table">
            <thead>
                <tr>
                    <th>Product Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Category</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="p in products">
                    <td>{{p.id}}</td>
                    <td>{{p.name}}</td>
                    <td>{{p.description}}</td>
                    <td>{{p.price}}</td>
                    <td>{{p.category}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
